.btn {
  top: 15px;
  left: 0;
  position: sticky;
  z-index: 1100;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  padding: 10px;
  margin: 10px;
  background: #ffffff;
  border-radius: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}
.btn:hover {
  background: #2f8b57;
  color: #ffffff;
  border-color: #ffffff;
}

.movieContainer {
  display: flex;
  max-width: 882px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 40px;
}
.movieDetailsContainer {
  padding-left: 40px;
}
.movieTitle {
  margin: 0;
  margin-bottom: 35px;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  color: #2f8b57;
  text-shadow: 0 0 3px #f1ecec, 0 0 5px #ffffff;
}
.movieDescrTitle {
  margin-left: 10px;
  margin-bottom: 20px;
  color: rgb(241, 241, 181);
  font-size: 24px;
  line-height: 1.42;
  font-weight: 500;
}
.movieDescription {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  color: #ffffff;
}
.movieScore {
  margin: 3px;
  padding-left: 4px;
  display: inline-block;
  border: 2px solid #ffffff;
  border-radius: 7px;
  color: #ffffff;
  background-color: seagreen;
}
.text {
  font-size: 20px;
  line-height: 1.42;
  color: rgb(255, 255, 255);
  background-color: var(--color-accent);
}
.genreItem {
  list-style: inside;
  color: #ffffff;
}

.movieImage {
  width: 300px;
  height: auto;
  object-fit: cover;
  margin-right: 50px;
  border-radius: 10px;
  border: 2px solid #ffffff;
}
